doctype html

html(lang="ja")
  head
    meta(charset="utf-8")
    title ハワイ移民資料館「仁保島村（にほじまむら）」- 広島県広島市
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(
      name="description",
      content="仁保島村（にほじまむら）は、広島県広島市にあるハワイ移民資料館（博物館）です。当館は、館長の川崎壽（かわさきひろし）によって平成7年（1995年）に旧仁保島村に開館したハワイ移民に関する資料館で、館長が自ら長年かけて集めた、日本からハワイに移住した移民に関する資料を展示しています。"
    )
    meta(
      name="keywords",
      content="仁保島村（にほじまむら）, 移民資料館, ハワイ移民, 広島県広島市, nihojimamura"
    )
    link(rel="canonical", href="https://hawaiiniho.com")
    link(rel="stylesheet", href="./assets/css/style.css")

  body
    header.header
      h1.title
        a(href="/").
          ハワイ移民資料館
          img(src="./assets/image/nihojimamura_logo.png", width="120", alt="仁保島村（にほじまむら）- nihojimamura")

    .cover.cb-fsss
      .content
        h2
          img.logo(
            src="./assets/image/nihojimamura.png",
            width="540",
            alt="ハワイ移民資料館仁保島村（にほじまむら）- nihojimamura"
          )
        p 広島県広島市南区仁保3-17-6

    .nav
      ul
        li
          a(href="./about/") 資料館について
        li
          a(href="./collection/") 展示物のご紹介
        li
          a(href="./visit/") ご利用案内
        li
          a(href="./give/") 当資料館からのお願い
        li
          a(href="./contact/") お問い合わせ

    mainn.main

    .map
      iframe.google-map(
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3293.3097276786298!2d132.49487021522333!3d34.36804188052122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x355aa1c6cce7e7fd%3A0x1db825fa7376644b!2z44CSNzM0LTAwMjYg5bqD5bO255yM5bqD5bO25biC5Y2X5Yy65LuB5L-d77yT5LiB55uu77yR77yX4oiS77yW!5e0!3m2!1sja!2sjp!4v1539792629623",
        frameborder="0",
        style="border:0",
        allowfullscreen
      )
      .map-address
        p
          strong ハワイ移民資料館 仁保島村（にほじまむら）